* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.colunas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.coluna {
  display: grid;
  gap: 10px;
  padding: 20px;
  border: solid 1px black;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &:hover {
    display: block;
  }
}
